In [48]:
import pandas as pd
import numpy as np
import re

In [60]:
path = 'DOUBLE MAJOR/MARKETING.xlsx'

In [65]:
df = pd.read_excel(path)

#### Explore data

In [66]:
print(df.head())

                     TT MÃ HỌC PHẦN             TÊN HỌC PHẦN  SỐ TC SỐ TIẾT  \
0                   NaN         NaN                      NaN    NaN      LT
1  1. Giáo dục thể chất         NaN                      NaN    NaN     NaN
2              Bắt Buộc         NaN                      NaN    NaN     NaN
3                     1    GDTC1101  Giáo dục thể chất 1 (*)    2.0      30
4               Tự Chọn         NaN                      NaN    NaN     NaN

  Unnamed: 5 HỌC PHẦN TIÊN QUYẾT  HỌC PHẦN HỌC TRƯỚC         KHOA/BỘ MÔN  \
0         TH                 NaN                 NaN                 NaN
1        NaN                 NaN                 NaN                 NaN
2        NaN                 NaN                 NaN                 NaN
3        NaN                 NaN                 NaN  Các đơn vị đào tạo
4        NaN                 NaN                 NaN                 NaN

   ĐỀ CƯƠNG
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN

#### Drop the rows and Columns that are not the part of the actual data

In [67]:
df = df.drop([0], axis = 0)

In [68]:
df = df.drop(df.columns[[4,5,6,7,9]], axis = 1)

In [69]:
df

,TT,MÃ HỌC PHẦN,TÊN HỌC PHẦN,SỐ TC,KHOA/BỘ MÔN
1,1. Giáo dục thể chất,NaN,NaN,NaN,NaN
2,Bắt Buộc,NaN,NaN,NaN,NaN
3,1,GDTC1101,Giáo dục thể chất 1 (*),2.0,Các đơn vị đào tạo
4,Tự Chọn,NaN,NaN,NaN,NaN
5,2,GDTC1103,Bóng chuyền 1 (*),2.0,Các đơn vị đào tạo
...,...,...,...,...,...
112,91,MKMA1108,Marketing quốc tế,3.0,Khoa Marketing
113,92,MKTT1109,Quan hệ công chúng,3.0,Khoa Marketing
114,93,MKTT1112,Quản trị quảng cáo,3.0,Khoa Marketing
115,94,MKTT1114,Quản trị thương hiệu,3.0,Khoa Marketing
116,95,NHTM1129,Quản trị rủi ro,3.0,Viện Ngân hàng - Tài chính

#### Rename the columns

In [70]:
df.columns = ['Index', 'Course_ID', 'Course_Name', 'Credits', 'Department']

#### Reset Index after dropping rows

In [71]:
df = df.reset_index(drop = True)

In [72]:
def is_number(value):
    try:
        float(value)
        return True
    except ValueError:
        return False

In [73]:
index_position = df[~df['Index'].apply(is_number)]
print(index_position)

                               Index Course_ID Course_Name  Credits Department
0               1. Giáo dục thể chất       NaN         NaN      NaN        NaN
1                           Bắt Buộc       NaN         NaN      NaN        NaN
3                            Tự Chọn       NaN         NaN      NaN        NaN
31   2. Kiến thức giáo dục đại cương       NaN         NaN      NaN        NaN
32                          Bắt Buộc       NaN         NaN      NaN        NaN
38                     3. Chuyên sâu       NaN         NaN      NaN        NaN
39                           Tự Chọn       NaN         NaN      NaN        NaN
52                       4. Thực tập       NaN         NaN      NaN        NaN
53                          Bắt Buộc       NaN         NaN      NaN        NaN
55                 5. Học phần chung       NaN         NaN      NaN        NaN
56                          Bắt Buộc       NaN         NaN      NaN        NaN
61                           Tự Chọn       NaN         NaN      NaN        NaN
75            6. Học phần của trường       NaN         NaN      NaN        NaN
76                          Bắt Buộc       NaN         NaN      NaN        NaN
81             7. Học phần của ngành       NaN         NaN      NaN        NaN
82                          Bắt Buộc       NaN         NaN      NaN        NaN
87                    8. Cơ sở ngành       NaN         NaN      NaN        NaN
88                          Bắt Buộc       NaN         NaN      NaN        NaN
94                9. Kiến thức ngành       NaN         NaN      NaN        NaN
95                          Bắt Buộc       NaN         NaN      NaN        NaN
105                          Tự Chọn       NaN         NaN      NaN        NaN

In [74]:
df = df.drop(df.index[0:31])
print(df)

                               Index Course_ID  \
31   2. Kiến thức giáo dục đại cương       NaN
32                          Bắt Buộc       NaN
33                                29  LLDL1102
34                                30  LLNL1105
35                                31  LLNL1106
..                               ...       ...
111                               91  MKMA1108
112                               92  MKTT1109
113                               93  MKTT1112
114                               94  MKTT1114
115                               95  NHTM1129

                        Course_Name  Credits                  Department
31                              NaN      NaN                         NaN
32                              NaN      NaN                         NaN
33   Lịch sử Đảng Cộng sản Việt Nam      2.0      Khoa Lý luận chính trị
34            Triết học Mác - Lênin      3.0      Khoa Lý luận chính trị
35    Kinh tế chính trị Mác - Lênin      2.0      Khoa Lý luận chính trị
..                              ...      ...                         ...
111               Marketing quốc tế      3.0              Khoa Marketing
112              Quan hệ công chúng      3.0              Khoa Marketing
113              Quản trị quảng cáo      3.0              Khoa Marketing
114            Quản trị thương hiệu      3.0              Khoa Marketing
115                 Quản trị rủi ro      3.0  Viện Ngân hàng - Tài chính

[85 rows x 5 columns]

In [75]:
df = df.reset_index(drop = True)
print(df)

                              Index Course_ID                     Course_Name  \
0   2. Kiến thức giáo dục đại cương       NaN                             NaN
1                          Bắt Buộc       NaN                             NaN
2                                29  LLDL1102  Lịch sử Đảng Cộng sản Việt Nam
3                                30  LLNL1105           Triết học Mác - Lênin
4                                31  LLNL1106   Kinh tế chính trị Mác - Lênin
..                              ...       ...                             ...
80                               91  MKMA1108               Marketing quốc tế
81                               92  MKTT1109              Quan hệ công chúng
82                               93  MKTT1112              Quản trị quảng cáo
83                               94  MKTT1114            Quản trị thương hiệu
84                               95  NHTM1129                 Quản trị rủi ro

    Credits                  Department
0       NaN                         NaN
1       NaN                         NaN
2       2.0      Khoa Lý luận chính trị
3       3.0      Khoa Lý luận chính trị
4       2.0      Khoa Lý luận chính trị
..      ...                         ...
80      3.0              Khoa Marketing
81      3.0              Khoa Marketing
82      3.0              Khoa Marketing
83      3.0              Khoa Marketing
84      3.0  Viện Ngân hàng - Tài chính

[85 rows x 5 columns]

In [76]:
output_file_path = 'DOUBLE MAJOR/DoubleMajor_MARKETING_Cleaned.xlsx'
df.to_excel(output_file_path, index=False)